@{
    ViewData["Title"] = "Calculator";
}



<div class="row">
    <div class="col-md-12">
        <h2>Calculator</h2>

    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <input class="form-control" type="text" placeholder="" readonly>@ViewData["Message"]</input>
        </div>
    </div>

<div class="row">
    <div class="col-md-12" style="height: 34px">
        </div>
</div>
<form>
    <div class="row">
        <div class="col-md-2">
            <input type="submit" name="number" value="7" formaction=@Url.Action("Seven") formmethod="post" class="btn btn-primary" />
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">8</button>
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">9</button>
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">+</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">4</button>
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">5</button>
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">6</button>
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">-</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">1</button>
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">2</button>
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">3</button>
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">*</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">0</button>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-danger">/</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <button style="height: 34px; width: 34px;" type="button" class="btn btn-success">=</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</form>